@import "tailwindcss";

@layer base {
  :root {
    --font-sans: var(--font-inter);
    --font-mono: var(--font-jetbrains-mono);
  }
}

/* Custom Scrollbar for Terminal */
.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 10px;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}
